@font-face {
  font-family: "Variane";
  src: url("../../../src/assets/fonts/fontvariane/varianescript-webfont.woff") format("woff"),
        url("../../../src/assets/fonts/fontvariane/varianescript-webfont.woff2") format("woff2");
};

.profilePage{
  background-color: rgb(250, 246, 242);
  height: 100vh;
  margin:0;
  .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    //background-color: cornflowerblue;
    width:50%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    padding:5% 0 0 0;
    .yourProfile{
      padding:0 0 5% 0;
      font-size: 30px;
      font-family: "Variane", serif;
    }
    .topProfile{
      display: flex;
      flex-direction: row;
      //background-color: lightcoral;
      height:40%;
      .pictureProfile{
        width:25%;
        //background-color: yellowgreen;
        border-radius: 20%;
      }
      .descriptionBox{
        resize:none;
      }
    }
    .bottomProfile{
      display: flex;
      flex-direction: row;
      //background-color: darkcyan;
      height:60%; 
      width: 100%; 
      .userInfo{
        display: flex;
        flex-direction: column;
        //background-color: pink;
        width:35%;
        justify-content: space-around;
      }

      .tags{
        width:65%;
        .tagsBox{
          resize:none;
        }
      }
    }
    .buttonSave{
      align-items:center;
    }
  }
}

