.boxDate{
  display: flex;
  flex-direction: row;
  width:98%;
  height: 50px;
  margin: auto;
  background-color: $color-secondary;
  border-top: solid 2px $color-primary;
  border-radius: 7px;
  z-index: 0;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  .dateEvent{
    display: flex;
    flex-direction: column;
    width: 20%;    
    border-bottom-left-radius: 7px;
    border-right: dotted 1px $color-primary;
    #dayEvent{
      margin:auto;
    }
    #monthEvent{
      margin:auto;
    }
  }
  .descriptionEvent{
    width: 80%;
    padding-left: 5%;
    padding-top: 1%;
    text-align: left;
    border-bottom-right-radius: 7px;
  }
}