.event_details{
    background-color: whitesmoke;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.event_details_item{
    flex-grow: 1;
}

.event_details_picture{
    border-radius: 0px;
}


