.AllEvents{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1% 0 0 0;
  .modeMenu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    .btn {
      outline: none;
      padding: 12px 16px;
      cursor: pointer;
      background-color: $color-terciary;
      color: $color-secondary;
      font-size: 14px;
    }
    .btn:hover {
      background-color: $color-terciary;
    }
    
    .btn.active {
      background-color: rgb(120, 98, 74);
      color: $color-terciary;
    }
  }
  
  .events{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .eventCompo{
      padding: 2%;
    }
    .eventThumbnail{
      margin: 1%;
    }
  }

}
      