.Button {
  background-color: transparent;
  color: $color-secondary;
  border: 1px solid $color-secondary;
  border-radius: 12px;
  padding: 4px 14px;
  font-size: 25px;
  font-family: "Variane", serif;
  outline: none;
  cursor: pointer;
  @include transition();

  &:hover {
    color: #715b4c;
    border-color: #715b4c;
  }

  &.inverse {
    background-color: $color-terciary;
    color:white;
    border:1px solid $color-terciary;
    &:hover{
      color:#d6b095;
    }
  }
}