body{
  overflow: auto;
  background-color: rgb(250, 246, 242);
}

#standardPage{
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background: $color-primary;
  
  #fixedHeader{
    flex: 0 0 auto;
  }
}
