.event_participant{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 1px $color-primary;
    background-color: transparent;
    margin: 2%;
    .event_participant_item{
      width:30%;
      font-size:20px;
      //background-color: $color-primary;
      text-align: center;
    } 
    
    .messageIcon{
      width: 30%;
      min-width:50px;
      //background-color: white;
      text-align: center;
    }

    .event_participant_item_pp{
      width: 70px;
      height: 70px;
      object-fit: cover;
      border-radius: 50%;
    }

  }