.event_history_listing{
    
    background-color: whitesmoke;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
    .event_history_listing_item{
        flex-grow: 0;
        margin: 1%;
    }
    
    .event_history_listting_picture{
        border-radius: 0px;
        width : 100px;
        height: 100px;
        border-radius: 30%;
    }
}