.event_content_info{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  
    .event_details, .event_participant_list{
      flex-grow: 1;
      margin : 1%;
      width: 50%;
      border-top: solid 1px $color-secondary;
      border-bottom: solid 1px $color-secondary;
    }
  }



