.event_content_info{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  
    .event_details{
      width: 50%;
      //background-color:firebrick;
    }

    .event_participant_list{
      width:50%;
      min-width: 200px;
      //background-color: aqua;
      overflow: scroll;
    }
  }



