.event_history_listing{
    
    background-color: #ede3d6;
    border: solid 1px $color-primary;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 2px;
    
    .event_history_listing_item{
        flex-grow: 0;
        margin: 1%;
        color: $color-primary;
        span {
            color: $color-terciary;
        }
    }
    
    .event_history_listting_picture{
        border-radius: 0px;
        width : 100px;
        height: 100px;
        border-radius: 30%;
        border: solid 1px $color-primary;
    }
}
.event_history_listing:hover {
    @include transition();
    background-color: lighten($color-terciary, 50%) !important;
    cursor: pointer;
    background-color: $color-secondary;
}

.button{
    border: none;
    background-color:transparent;
    width:100%;
}