.SvgButton {
  @include buttonAsDiv();
  width: 25px;
  height: 25px;
  & svg {
    & path {
      @include transition();
      fill: black;
    }
    &:hover path {
      fill: lighten(black, 25%);
    }
  }
}