body{
  overflow: auto;
<<<<<<< HEAD
=======
  background-color: rgb(250, 246, 242);
>>>>>>> 7fbca4bc416bbf490ec1c8ce6a438f3395d5c894
}

#standardPage{
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background: #4087a3;
  
  #fixedHeader{
    flex: 0 0 auto;
  }
}
