.event_participant{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px $color-primary;
    background-color: cornsilk;
  
    .event_participant_item{
      flex-grow: 1;
      margin : 2%;
      text-align: center;
    }

    .pp{
      height: auto; 
      width: auto; 
      max-width: 100px; 
      max-height: 100px;
      border-radius: 50%;
    }
  }