.event_header{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 2px #4087a3;

  .event_header_item{
    flex-grow: 1;
    margin : 2%;
  }
  h1{
    margin: 2%;
  }
  h2{
    margin: 2%;
    color: #e6bc9e;
  }
  button{
    margin:2%;
  }
}