.boxEvent{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:320px;
  height: 230px;
  border-radius: 10px;
  background-color: $color-primary;
  .clickedEvent{
    @include buttonAsDiv();
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
}

.boxEvent:hover{
  background-color: $color-hover;
}

.boxEvent:hover .boxDate{
  border-top: solid 2px $color-hover;
}