.DiscussionPage {
  display: flex;
  min-height: calc(#{$page-size} - 2px);
  height: calc(#{$page-size} - 2px);
  & .first {
    width: 40%;
  }
  & .second {
    width: 60%;
    display: flex;
    flex-direction: column;
  }
}