.ButtonHaut {
    background-color: transparent;
    color:#e6bc9e;
    border:1px solid #e6bc9e;
    border-radius:12px;
    padding: 4px 14px;
    font-family:'Comic Sans';
    font-size:14px;
    &:hover{
        color:#715b4c;
    }
  }