/* Variables */
// TODO: Redefine variables with correct values
$font-family: "Variane", serif;
$color-primary: #4087a3;
$color-secondary: #e6bc9eff;
$header-height: 122px;


/* Mixins */
@mixin transition() {
  transition: all 0.3s linear;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin buttonAsDiv() {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

@mixin fitRemainingSpace($border, $margin, $padding) {
  width: calc(100% - 2 * #{$border} - 2 * #{$margin} - 2 * #{$padding});
  height: calc(100% - 2 * #{$border} - 2 * #{$margin} - 2 * #{$padding});
}