/* Variables */
// TODO: Redefine variables with correct values
$font-family: "Variane", serif;
$color-primary: #4087a3;
$color-secondary: rgb(255, 254, 177);
$color-search: #5c5c5c;
$color-background-primary: #ffffff;
$color-terciary: #80664f;
$header-height: 122px;
$page-size: calc(100vh - #{$header-height});


/* Mixins */
@mixin transition() {
  transition: all 0.3s linear;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin buttonAsDiv() {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

@mixin fitRemainingSpace($border, $margin, $padding) {
  width: calc(100% - 2 * #{$border} - 2 * #{$margin} - 2 * #{$padding});
  height: calc(100% - 2 * #{$border} - 2 * #{$margin} - 2 * #{$padding});
}