.event_header{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  border-bottom: solid 2px $color-primary;
  height: 100%;
  background-color: $color-secondary;
  #backArrowBtn{
    display: flex;
    flex-direction: column;
    svg path{
    background-color: transparent;
    border:none;
    font-size:20px;
    transition: all 0.3s linear;
    fill: $color-primary;
    }
    svg path:hover{
      transition: all 0.3s linear;
      fill: $color-terciary;
      }
  }
 
  .event_header_item{
    flex-grow: 1;
    margin : 2%;  
    h1{
    margin: 2%;
    color: $color-title;
    }
    h2{
      margin: 2%;
      color: $color-terciary;
    }
    button{
      margin:2%;
    } 
    .fas{
      font-size:150%;
      padding: 5%;
    }
  }
}