.event_header{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  border-bottom: solid 2px $color-primary;
  height: 100%;
  background-color: $color-secondary;
  .buttonbox{
    display: flex;
    flex-direction: column;
     .backButton{
      background-color: transparent;
      border:none;
      font-size:20px;
    }
  }
 
  .event_header_item{
    flex-grow: 1;
    margin : 2%;  
    h1{
    margin: 2%;
    color: $color-title;
    }
    h2{
      margin: 2%;
      color: $color-terciary;
    }
    button{
      margin:2%;
    } 
    .fas{
      font-size:150%;
      padding: 5%;
    }
  }
}