@font-face {
  font-family: "Variane";
  src: url("../../../src/assets/fonts/fontvariane/varianescript-webfont.woff") format("woff"),
        url("../../../src/assets/fonts/fontvariane/varianescript-webfont.woff2") format("woff2");
};

.connexionPage{
  background-color: rgb(250, 246, 242);
  height: 100vh;
  margin:0;
  .formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    .connexion{
      font-family: "Variane", serif;
      font-size:40px;
      padding: 20% 0 0 0;
      color: rgb(182, 156, 111);
    }
    .mail{
      padding:5px;
    }
    .password{
      padding:5px;
    }
    .validation{
      padding:15px;
      cursor: pointer;
    }
  }
}