.topFrame{
  @import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #4087a3;
  padding: 20px 20px;
  
    .leftSide{
      width:50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;    
      .logo{
        font-family: "Variane", serif;
        font-size: 60px;
        font-weight: bold;
        font-style: italic;
        color: #d4cec1;
      }
      .eventButton{
        background-color: transparent;
        border: none;
        font-size:40px;
        color: #d5ccbd;
        font-family: "Variane", serif;
        width: 60%;
          &:hover{
            color:#faf9f8;
          }
        }
    }

    .rightSide{
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      .buttonIcons{
        display: flex;
        flex-direction: row;
        width:30%;
        justify-content: space-around;
        .buttonAgenda{
        background-color:transparent;
        border: none;
        width:20%;
        font-size:140%;
        }
        .buttonMessage{
          background-color: transparent;
          border: none;
          width:20%;
          font-size:140%;
        }
        .buttonProfile{
          background-color: transparent;
          border: none;
          width:20%;
          font-size:140%;
        }
      }
      .decoButton{
        display: flex;
        justify-content: center;
        width:30%;
      }
    }
}
