.parallax{
  display: flex;
  flex-direction: column;
  justify-content: center;
  #slide1{
    display: flex;
    flex-direction: column-reverse;
    background-color: rebeccapurple;
    width: 100%;
    height: 400px;
    background: url("../../../src/assets/images/img1.jpg") center 0 no-repeat fixed;
  }

  #slide2{
    display: flex;
    flex-direction: column-reverse;
    background-color: aquamarine;
    width: 100%;
    height: 600px;
    background: whitesmoke;
  }

  #slide3{
    display: flex;
    flex-direction: column-reverse;
    background-color: orange;
    width: 100%;
    height: 400px;
    background: url("../../../src/assets/images/img3.jpg") center 0 no-repeat fixed;
  }
  .container1{
    width:100%;
    height:400px;
    text-align: center;
  }
  .container2{
    width:100%;
    height:100px;
    text-align: center;
    -webkit-transform: translateZ(-1.2px) scale(2);
    transform: translateZ(-1.2px) scale(2);
  }
  .container3{
    background-color: cadetblue;
    width:100%;
    height:100px;
    text-align: center;
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
  }
}