@font-face {
  font-family: "Variane";
  src: url("../assets/fonts/fontvariane/varianescript-webfont.woff") format("woff"),
  url("../assets/fonts/fontvariane/varianescript-webfont.woff2") format("woff2");
};

@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
@import url("https://unpkg.com/leaflet@1.4.0/dist/leaflet.css");

html, body, #__next {
  min-height: 100vh;
  height: 100vh;
  margin: 0;
  & header {
    height: $header-height;
  }
  & .container {
    height: calc(100vh - #{$header-height});
  }
}
